<div class="module row">

<section class="polaroid grp">
  <a class="polaroid__link">
    <img class="polaroid__media img1">
		<div class="polaroid__content">
		  <div class="is-centred">
        	<p>Project for Jimmy's Coffee</p>
		  </div>	
		</div>
	</a>
	<header class="polaroid__header">
	  <h4 class="polaroid__heading">"Project"</h4>
		<span class="dash">-</span>
		<p>March 2016</p>
	</header>
</section>

<section class="polaroid grp">
  <a class="polaroid__link">
    <img class="polaroid__media img2">
		<div class="polaroid__content">
		  <div class="is-centred">
        	<p>Vinly record shop</p>
		  </div>	
		</div>
	</a>
	<header class="polaroid__header">
	  <h4 class="polaroid__heading">"Group Project"</h4>
		<span class="dash">-</span>
		<p>March 2016</p>
	</header>
</section>



</div>


